# Table of Contents
- <b> [1. Project Overview](#chapter1)
    - [1.1. Introduction](#section_1_1)
    - [1.2. Objective](#section_1_2)
- <b> [2. Importing Packages](#chapter2)
- <b> [3. Data Loading](#chapter3)
- <b> [4. Data Cleaning](#chapter4)
- <b> [5. Exploratory Data Analysis (EDA)](#chapter5)
- <b> [6. Conclusion and Insights](#chapter6)</b>

# 1. Project Overview <a class="anchor" id="chapter1"></a>

## 1.1. Introduction<a class="anchor" id="section_1_1"></a>

## 1.2. Objective<a class="anchor" id="section_1_2"></a>

# 2. Importing Packages<a class="anchor" id="chapter2"></a>

Importing notes

In [1]:
# Libraries for data loading, manipulation and analysis

import numpy as np
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt

# Displays output inline
%matplotlib inline

# Libraries for Handing Errors
import warnings
warnings.filterwarnings('ignore')

# 3. Data Loading<a class="anchor" id="chapter3"></a>

Loading notes

In [9]:
# Display all columns
pd.set_option("display.max_columns", None)

In [20]:
# loading datasets
df1 = pd.read_csv("forest_area_km.csv", index_col=False)
df2 = pd.read_csv("forest_area_percent.csv", index_col=False)
df1.head()

,Country Name,Country Code,1990,1991,1992,1993,1994,1995,1996,1997,1998,1999,2000,2001,2002,2003,2004,2005,2006,2007,2008,2009,2010,2011,2012,2013,2014,2015,2016,2017,2018,2019,2020,2021
0,Afghanistan,AFG,12084.4,12084.40,12084.40,12084.40,12084.40,12084.4,12084.40,12084.40,12084.40,12084.40,12084.4,12084.40,12084.40,12084.40,12084.40,12084.40,12084.40,12084.40,12084.40,12084.40,12084.4,12084.400,12084.40,12084.400,12084.40,12084.400,12084.4,12084.400,12084.4,12084.4,12084.4,12084.400
1,Albania,ALB,7888.0,7868.50,7849.00,7829.50,7810.00,7790.5,7771.00,7751.50,7732.00,7712.50,7693.0,7705.77,7718.54,7731.31,7744.08,7756.85,7769.62,7782.39,7795.16,7807.93,7820.7,7834.935,7849.17,7863.405,7877.64,7891.875,7891.8,7889.025,7889.0,7889.0,7889.0,7889.000
2,Algeria,DZA,16670.0,16582.00,16494.00,16406.00,16318.00,16230.0,16142.00,16054.00,15966.00,15878.00,15790.0,16129.00,16468.00,16807.00,17146.00,17485.00,17824.00,18163.00,18502.00,18841.00,19180.0,19256.000,19332.00,19408.000,19484.00,19560.000,19560.0,19430.000,19300.0,19390.0,19490.0,19583.333
3,American Samoa,ASM,180.7,180.36,180.02,179.68,179.34,179.0,178.66,178.32,177.98,177.64,177.3,177.00,176.70,176.40,176.10,175.80,175.50,175.20,174.90,174.60,174.3,174.000,173.70,173.400,173.10,172.800,172.5,172.200,171.9,171.6,171.3,171.000
4,Andorra,AND,160.0,160.00,160.00,160.00,160.00,160.0,160.00,160.00,160.00,160.00,160.0,160.00,160.00,160.00,160.00,160.00,160.00,160.00,160.00,160.00,160.0,160.000,160.00,160.000,160.00,160.000,160.0,160.000,160.0,160.0,160.0,160.000

In [21]:
df2.head()

,Country Name,Country Code,1990,1991,1992,1993,1994,1995,1996,1997,1998,1999,2000,2001,2002,2003,2004,2005,2006,2007,2008,2009,2010,2011,2012,2013,2014,2015,2016,2017,2018,2019,2020,2021
0,Afghanistan,AFG,1.852782,1.852782,1.852782,1.852782,1.852782,1.852782,1.852782,1.852782,1.852782,1.852782,1.852782,1.852782,1.852782,1.852782,1.852782,1.852782,1.852782,1.852782,1.852782,1.852782,1.852782,1.852782,1.852782,1.852782,1.852782,1.852782,1.852782,1.852782,1.852782,1.852782,1.852782,1.852782
1,Albania,ALB,28.788321,28.717153,28.645985,28.574818,28.503650,28.432482,28.361314,28.290146,28.218978,28.147810,28.076642,28.123248,28.169854,28.216460,28.263066,28.309672,28.356277,28.402883,28.449489,28.496095,28.542701,28.594653,28.646606,28.698558,28.750511,28.802464,28.802190,28.792062,28.791971,28.791971,28.791971,28.791971
2,Algeria,DZA,0.699908,0.696214,0.692519,0.688824,0.685129,0.681435,0.677740,0.674045,0.670350,0.666655,0.662961,0.677194,0.691427,0.705661,0.719894,0.734127,0.748360,0.762594,0.776827,0.791060,0.805294,0.808485,0.811675,0.814866,0.818057,0.821248,0.821248,0.815790,0.810332,0.814110,0.818309,0.822228
3,American Samoa,ASM,90.350000,90.180000,90.010000,89.840000,89.670000,89.500000,89.330000,89.160000,88.990000,88.820000,88.650000,88.500000,88.350000,88.200000,88.050000,87.900000,87.750000,87.600000,87.450000,87.300000,87.150000,87.000000,86.850000,86.700000,86.550000,86.400000,86.250000,86.100000,85.950000,85.800000,85.650000,85.500000
4,Andorra,AND,34.042553,34.042553,34.042553,34.042553,34.042553,34.042553,34.042553,34.042553,34.042553,34.042553,34.042553,34.042553,34.042553,34.042553,34.042553,34.042553,34.042553,34.042553,34.042553,34.042553,34.042553,34.042553,34.042553,34.042553,34.042553,34.042553,34.042553,34.042553,34.042553,34.042553,34.042553,34.042553

In [22]:
# Check if datasets have same number of columns / rows
print(df1.shape, df2.shape)

(259, 34) (258, 34)

In [27]:
# Rows in df1 not in df2
df1_only = df1[~df1['Country Code'].isin(df2['Country Code'])]

df1_only

,Country Name,Country Code,1990,1991,1992,1993,1994,1995,1996,1997,1998,1999,2000,2001,2002,2003,2004,2005,2006,2007,2008,2009,2010,2011,2012,2013,2014,2015,2016,2017,2018,2019,2020,2021
75,Gibraltar,GIB,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [36]:
# Copy and merge datasets
df1_copy = df1.copy()
df2_copy = df2.copy()
merged_df = pd.merge(df1_copy, df2_copy, on=['Country Code', 'Country Name'], how='inner', suffixes=('_km', '_percent'))

In [43]:
# Displays number of rows and columns after merge
merged_df.shape

(258, 66)

In [42]:
# Replace spaces with underscores
merged_df.columns = [col.replace(' ', '_') for col in merged_df.columns]
merged_df.head(2)

,Country_Name,Country_Code,1990_km,1991_km,1992_km,1993_km,1994_km,1995_km,1996_km,1997_km,1998_km,1999_km,2000_km,2001_km,2002_km,2003_km,2004_km,2005_km,2006_km,2007_km,2008_km,2009_km,2010_km,2011_km,2012_km,2013_km,2014_km,2015_km,2016_km,2017_km,2018_km,2019_km,2020_km,2021_km,1990_percent,1991_percent,1992_percent,1993_percent,1994_percent,1995_percent,1996_percent,1997_percent,1998_percent,1999_percent,2000_percent,2001_percent,2002_percent,2003_percent,2004_percent,2005_percent,2006_percent,2007_percent,2008_percent,2009_percent,2010_percent,2011_percent,2012_percent,2013_percent,2014_percent,2015_percent,2016_percent,2017_percent,2018_percent,2019_percent,2020_percent,2021_percent
0,Afghanistan,AFG,12084.4,12084.4,12084.4,12084.4,12084.4,12084.4,12084.4,12084.4,12084.4,12084.4,12084.4,12084.40,12084.40,12084.40,12084.40,12084.40,12084.40,12084.40,12084.40,12084.40,12084.4,12084.400,12084.40,12084.400,12084.40,12084.400,12084.4,12084.400,12084.4,12084.4,12084.4,12084.4,1.852782,1.852782,1.852782,1.852782,1.852782,1.852782,1.852782,1.852782,1.852782,1.852782,1.852782,1.852782,1.852782,1.852782,1.852782,1.852782,1.852782,1.852782,1.852782,1.852782,1.852782,1.852782,1.852782,1.852782,1.852782,1.852782,1.852782,1.852782,1.852782,1.852782,1.852782,1.852782
1,Albania,ALB,7888.0,7868.5,7849.0,7829.5,7810.0,7790.5,7771.0,7751.5,7732.0,7712.5,7693.0,7705.77,7718.54,7731.31,7744.08,7756.85,7769.62,7782.39,7795.16,7807.93,7820.7,7834.935,7849.17,7863.405,7877.64,7891.875,7891.8,7889.025,7889.0,7889.0,7889.0,7889.0,28.788321,28.717153,28.645985,28.574818,28.503650,28.432482,28.361314,28.290146,28.218978,28.147810,28.076642,28.123248,28.169854,28.216460,28.263066,28.309672,28.356277,28.402883,28.449489,28.496095,28.542701,28.594653,28.646606,28.698558,28.750511,28.802464,28.802190,28.792062,28.791971,28.791971,28.791971,28.791971

# 4. Data Cleaning<a class="anchor" id="chapter4"></a>

# 5. Exploratory Data Analysis (EDA)<a class="anchor" id="chapter5"></a>

# 6. Conclusion and Insights <a class="anchor" id="chapter6"></a>